{% extends 'base.html' %}

{% block head %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script
    {# Replace by CDN when done developping <script src="{{ url_for('static', filename='js/plotly.js') }}"></script> #}
{% endblock head%}

{% block content %}

{% import "dashboard/plotly.html" as plotly %}

<div id="dashboard-content" class="grid-container full">

  <section id="dashboard-intro" class="grid-x align-center light-grey">
    <h2 class="cell small-10">30:30:30 tracker</h2>


  </section>

  <section id="dashboard-analytics" class="grid-x grid-margin-x align-center light-grey">
    <h2 class="cell small-10">Analytics</h2>
    {% for graph_id, graph_params in graphs.items()%}
      {{ plotly.graph(id=graph_id, title=graph_params["title"]) }}
    {% endfor %}
  </section>

  <script src="{{ url_for('static', filename='js/nigeria_states.js') }}"></script>
  <script type=text/javascript>

     var graphs = {{ graphs|tojson }};
     var generation_assets = {{ generation_assets|tojson }};
     console.log(generation_assets);




    /*

     const keys = Object.keys(graphs);

    // print all keys
    console.log(keys);

    // iterate over object
    keys.forEach((key, index) => {
        console.log(`${key}: ${graphs[key]}`);
    });


    var data = [{
            type: 'choropleth',
            locations: unpack(rows, 'CODE'),
            z: unpack(rows, 'GDP (BILLIONS)'),
            text: unpack(rows, 'COUNTRY'),
            colorscale: [
                [0,'rgb(5, 10, 172)'],[0.35,'rgb(40, 60, 190)'],
                [0.5,'rgb(70, 100, 245)'], [0.6,'rgb(90, 120, 245)'],
                [0.7,'rgb(106, 137, 247)'],[1,'rgb(220, 220, 220)']],
            autocolorscale: false,
            reversescale: true,
            marker: {
                line: {
                    color: 'rgb(180,180,180)',
                    width: 0.5
                }
            },
            tick0: 0,
            zmin: 0,
            dtick: 1000,
            colorbar: {
                autotic: false,
                tickprefix: '$',
                title: 'GDP<br>Billions US$'
            }
      }];

      var layout = {
          title: '2014 Global GDP<br>Source: <a href="https://www.cia.gov/library/publications/the-world-factbook/fields/2195.html"> CIA World Factbook</a>',
          geo:{
              showframe: false,
              showcoastlines: false,
              projection:{
                  type: 'mercator'
              }
          }
      };
      */
      var config = {showLink: false, responsive: true};
      var layout = {
        title: {
          text: '<b>Total generation capacity installed and planned</b>',
          x: 0.1,
          yanchor: 'left',
          font: {
              family: 'Source Sans Pro',
              size: 20,
          },
        },
        barmode: 'stack',
        xaxis: {
          color: '#C5C4CF',
          tickfont: {
              family: 'Source Sans Pro',
              size: 14,

          },
          tickformat: "d",
        },
        yaxis: {
          showgrid: false,
          color: '#C5C4CF',
          tickfont: {
              family: 'Source Sans Pro',
              size: 14,
          },
          tickformat: ",d",
        },
      };
      var data = graphs["generation_cap"]["data"];
      Plotly.newPlot("generation_cap_graph", data, layout, config);

      layout.title.text = '<b>Percentage renewables installed and planned</b>';
      data = [graphs["renewables_percentage"]["data"]];
      Plotly.newPlot("renewables_percentage_graph", data, layout, config);

      layout.title.text = '<b>Renewables installed by technology type</b>';
      data = graphs["renewable_types"]["data"];
      Plotly.newPlot("renewable_types_graph", data, layout, config);

      layout.title.text = '<b>Map of power plant location</b>';

      var state_names = [];
      var L = nigeria_states_simplified.features.length
      for(var i=0;i<L;++i){
        state_names.push(
            nigeria_states_simplified.features[i].properties.name
        )
      };

      data = [{
          type: 'choropleth',
          geojson: nigeria_states_simplified,
          zmin:0,
          zmax:1,
          z: Array(L).fill(0.5),
          featureidkey: "properties.name",
          locations: state_names,
          locationmode: 'geojson-id',
          hoverinfo:'skip',
          showscale: false,
          showborders: false,
      },
      graphs["location_plants"]["data"]
      ];
      console.log(graphs["location_plants"]["data"])
      var layout = {
        title: {
          text: '<b>Total generation capacity installed and planned</b>',
        },
        margin: {"r": 0, "l": 0, "b": 0},
        geo: {
            fitbounds: 'locations',
            visible: false,
            projection: 'mercator',
        }
      }
      Plotly.newPlot("location_plants_graph", data, layout, config);

  </script>


{% endblock content%}



