p {
    text-align: justify;
}

#about-map-content h5 {
    color: #5DCB42;
    font-weight: 700;
}

#about-map-content a {
    color: #5dcb42;
}

#about-map-content a:hover {
    color: #347224;
}
.org {
    padding-bottom: 1rem;
}