header{
    background-color: #ffffff;
    width: 100%;
    padding-top: .875rem;
    padding-bottom: .875rem;
}

header div{
    display: flex;
    align-items: center;
}

header h2{
    color: #ffbb00;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .4rem;
}

#header-blitz-div img{
    height: 3rem;
    transform: translateY(0px);
}

#header-blitz-div a{
    display: flex;
    align-items: center;
}

header img{
    margin-right: 1rem;
    height: 1.5rem;
    transform: translateY(-3px);
}


@media only screen and (min-width: 1040px) {
    .header-right {
        margin-right: 3rem;
    }
}

.header-right__item {
    margin-left: auto;
    margin-right: 0;
}

header a{
    color: #464646;
    font-size: 16pt;
    font-weight: normal;
}

header a:hover,
header a:active,
header a:focus{
    color: #464646;
}

#login-logo-nigeria{
    height: 6rem;
}

.center--align{
    display: flex;
    justify-content: center;
    align-items: center;
}