/* General */
body, p, a, li {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18pt;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, Arial, sans-serif;
}
h1{
    font-size: 32pt;
    font-weight: bold;
}

h2{
    font-size: 20pt;
    font-weight: normal;
}

p, div{
    color: #464646;
}

.brand--color{
    color: #1DD069;
}

.white--color{
    color: #ffffff;
}


/* Navigation Bar */

header{
    background-color: #ffffff;
}

header div{
    display: flex;
    align-items: center;
}

header h2{
    color: #ffbb00;
    font-size: 18pt;
    font-weight: bold;
}

#header-blitz-div img{
    height: 3rem;
}

header img{
    margin-right: 1rem;
    height: 2.5rem;
}

header a{
    color: #464646;
    font-size: 20pt;
    font-weight: normal;
}

#header-logo-nigeria{
    margin-right: 0;
    padding: 0.5rem 0 0.5rem 0 ;
    height: 5rem;
}

/* Main content */
.cta {
    background-color: #1DD069;
    color: #ffffff;
    font-size: 18pt;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
}

.landing-hero {
    background-image: url("img/img-1-landing.png");
    height: 717px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-hero h1 {
    font-size: 50pt;
    font-weight: bold;
    color: #ffffff;
    line-height: 68pt;
    padding-top: 5rem;
    margin-bottom: 0;
}

.landing-hero h2 {
    font-size: 20pt;
    font-weight: normal;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.landing-hero h1,
.landing-hero h2 {
    width: 54rem;
}

.landing-welcome {
    background-image: url("background/bg-1-welcome-div.png");
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.landing-welcome__img img {
    padding-left: 5rem;
}

.landing-feature {
    background-image: url("img/img-3-feature-developper.png");
}
.landing-feature div{
    color: #ffffff;
}

#landing-progress-div{
    background-image: url("background/bg-4-progress-div.png");
}

#landing-maps-div{
    background-image: url("background/bg-2-maps-div.png");
    color: #ffffff;
    text-align: center;
}

#landing-resources-div{
    background-image: url("background/bg-3-resource-div.png");
}

/* Footer */
#footer-stay-in-touch-div{
    background-image: url("background/bg-5-stay-in-touch-div.png");
    color: #ffffff;
}

#footer-contact-div{
    background-color: #eeeff1;
}

#footer-logos-div{
    background-color: #ffffff;
}

#footer-logos-div img{
    height: 7rem;
}

#footer-logos-giz img{
    height: 3rem;
}

#footer-license-div{
    background-color: #93939f;
    color: #ffffff;

}

/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Italic.woff2') format('woff2'),
        url('fonts/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

