/* General */
body, p, a, li {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18pt;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, Arial, sans-serif;
}
h2{
    font-size: 32pt;
    font-weight: bold;
}

h3{
    font-size: 20pt;
    font-weight: normal;
}

p, div{
    color: #464646;
}

.brand--color{
    color: #1DD069;
}

.white--color{
    color: #ffffff;
}

.ystack{
    flex-direction: column;
}

.center--align{
    align-items: center;
    display: flex;
    justify-content: center;
}

.right--align{
    display: flex;
    justify-content: right;
}

.left--align{
    display: flex;
    justify-content: left;
}

/* evanescent tabs */
.opt--content{
    display: none;
}

.selected--opt--content{
    display: block;
}


/* Gauge */

.GaugeMeter{
    Position: Relative;
    Text-Align: Center;
    Overflow: Hidden;
    Cursor: Default;
}

.GaugeMeter SPAN,
.GaugeMeter B{
    Margin:	0 23%;
    Width: 54%;
    Position: Absolute;
    Text-Align: Center;
    Display: flex;
    justify-content: center;
    Color: #464646;
}
.GaugeMeter[data-style="Semi"] B{
    Margin: 0 10%;
    Width: 80%;
}

.GaugeMeter S,
.GaugeMeter U{
    Text-Decoration:None;
    Font-Size: .60em;
    Font-Weight: 200;
    Opacity: .6;
}

.GaugeMeter B{
    Font-Weight: 200;
    Font-Size: 1.4em;
    Opacity: .8;
}

.GaugeMeter SPAN{
    Color: #464646;
    font-weight: bold;
    font-size: 32pt;
    font-family: Poppins Medium;
}



/* Navigation Bar */

header{
    background-color: #ffffff;
}

header div{
    display: flex;
    align-items: center;
}

header h2{
    color: #ffbb00;
    font-size: 18pt;
    font-weight: bold;
}

#header-blitz-div img{
    height: 3rem;
}

#header-blitz-div a{
    display: flex;
    align-items: center;
}

header img{
    margin-right: 1rem;
    height: 2.5rem;
}

header a{
    color: #464646;
    font-size: 20pt;
    font-weight: normal;
}

#header-logo-nigeria{
    margin-right: 0;
    padding: 0.5rem 0 0.5rem 0 ;
    height: 5rem;
}

/* Main content */
.cta {
    background-color: #1DD069;
    color: #ffffff;
    font-size: 18pt;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
}

.landing-hero {
    background-image: url("img/img-1-landing.png");
    height: 717px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-hero h1 {
    font-size: 50pt;
    font-weight: bold;
    color: #ffffff;
    line-height: 68pt;
    padding-top: 5rem;
    margin-bottom: 0;
}

.landing-hero h2 {
    font-size: 20pt;
    font-weight: normal;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.landing-hero h1,
.landing-hero h2 {
    width: 54rem;
}

.landing-welcome {
    background-image: url("background/bg-1-welcome-div.png");
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.landing-welcome__img img {
    padding-left: 5rem;
}

.landing-feature {
    background-image: url("img/img-3-feature-developper.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.landing-feature h2,
.landing-feature p {
    color: #FFF;
}

.landing-feature h2 {
    font-weight: 400;
}

.landing-feature h2 span {
    font-weight: 700;
}

.landing-feature__text {
    max-width: 32rem;
}

.landing-feature__item {
    padding-top: 7rem;
}

.landing-feature__img {
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    background-color: grey;
}
.landing-feature__img img {
    height: 1.5rem;
    margin-top: .5rem;
}
.landing-feature__description a {
    font-size: 15pt;
    color: #FFF;
}
.landing-feature__item.active .landing-feature__img {
    background-color: #1DD069;
}
.landing-feature__item.active a {
    font-weight: 700;
}

.landing-progress {
    background-image: url("background/bg-4-progress-div.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.landing-maps {
    background-image: url("background/bg-2-maps-div.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.landing-maps__header {
    color: #ffffff;
}

.landing-maps__header h3 span {
    font-weight: 700;
}

.landing-resources {
    background-image: url("background/bg-3-resources-div.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.landing-resources__text p {
    padding-bottom: 5rem;
}

.landing-resources__text p span {
    font-weight: 700;
}

.landing-resources__cards {
    padding-top: 3rem;
}

.landing-resources__cards .card {
    border-radius: .75rem;
    border: 0;
    box-shadow: 0px 20px 19px 0px rgba(135,135,135,0.3);
    margin-bottom: 2rem;
}

.landing-resources__cards .card-section p {
    font-size: 15pt;
    margin-bottom: 0;
}

.landing-resources__cards .card-section--header {
    font-weight: 700;
}

/* Footer */
#footer-stay-in-touch-div{
    background-image: url("background/bg-5-stay-in-touch-div.png");
    color: #ffffff;
}

#footer-contact-div{
    background-color: #eeeff1;
}

#footer-logos-div{
    background-color: #ffffff;
}

#footer-logos-div img{
    height: 7rem;
}

#footer-logos-giz img{
    height: 3rem;
}

#footer-license-div{
    background-color: #93939f;
    color: #ffffff;

}


/* About Page*/

#about-content section {
    padding-top: 2rem;
    padding-bottom: 8rem;
}

#about-content h2 {
    padding-bottom: 4rem;
}

#about-content h3 {
    font-size: 20pt;
    font-weight: 700;
    margin-top: 0;
}

.light-grey{
    background-color: #EEEFF1;
}

.semi-grey{
    background-color: #E0E2E9;
}

.about-card {
    margin-top: 5rem;
}

.about-card__content {
    background-color: #1DD069;
}

.about-card__link {
    display: inline-block;
    background-color: #085064;
    padding: .25rem 1.5rem;
}

.about-card__link a {
    color: #fff;
}

.about-intro__cards .about-card:nth-child(odd) {
    padding-right: 3rem;
}

.about-intro__cards .about-card:nth-child(even) {
    padding-left: 3rem;
}

.about-intro__cards .about-card__content {
    padding: 2rem;
}

.about-intro__cards p,
.about-intro__cards h3 {
    color: #fff;
}

#about-fmp-content .about-fmp__item:not(:last-child)  {
    padding-bottom: 4rem;
}
#about-stakeholder img {
    height: 15rem;
}

.about-stakeholder__item {
    padding-bottom: 3rem;
}

.about-stakeholder__item a {
    color: #1DD069;
    font-weight: 700;
}

.section-about .section-about__img {
    text-align: right;
}

/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Italic.woff2') format('woff2'),
        url('fonts/SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
