{% extends 'base.html' %}



{% block header %}
{% endblock %}

{% block content %}

<section id="resources-selected" class="grid-x landing-resources">
  <div class="cell large-5 large-offset-1">
    <h2>{{title}}</h2>
    <p>{{subtitle}}</p>
    <div>{{description}}</div>
    <!-- hidden button to link to the resource-->
    <a class="cta" style="display: none;" href="">Go to resource</a>
  </div>
  <div class="cell large-5 large-offset-1">
    <img src="{{ url_for('static', filename=image) }}">
  </div>
</section>


{% endblock %}