{% extends 'base.html' %}

{% block title %} {{ title }} | Nigeria SE4ALL{% endblock title%}

{% block head %}
<meta name="description=" content="Descriptions of the tools used to help rural electrification within Nigeria Sustainable Energy for All (SE4ALL) project">
{% endblock head%}

{% block header %}
{% endblock %}

{% block content %}

<section id="resources-selected" class="grid-x landing-resources">
  <div class="cell small-10 small-offset-1 large-5 large-offset-1">
    <h2>{{title}}</h2>
    <p>{{subtitle}}</p>
    <div>{{description}}</div>
    <!-- hidden button to link to the resource-->
    <a class="cta" style="display: none;" href="">Go to resource</a>
  </div>
  <div class="cell small-10 small-offset-1 large-5 large-offset-1 landing-resource__img">
    <img src="{{ url_for('static', filename=image) }}"  alt="{{ title }} image">

  </div>
  {% if title == "Mapping with OSM" %}
  <div class="cell small-10 small-offset-1 large-5 large-offset-1">
    <div>
      <h3>Generating off-grid clusters</h3>
      Using the OSM data as a primary datasource, off-grid clusters are then calculated for areas greater than 5 km from the medium voltage grid. These are displayed on the <a href="{{ url_for('maps.index') }}" target="_blank">SE4ALL webmap</a> as “remotely mapped settlements”. The building data from OSM is buffered outwards, merged and buffered inwards again. Key statistics are calculated on each of the remotely mapped settlements including:
    <br>
    <br>
      <ul>
        <li>Area in km² of the remotely mapped settlement</li>
        <li>A count of the number of buildings within the cluster</li>
        <li>The total combined area of building footprints, divided by the total area which results in a “built-up ratio”</li>
      </ul>
      All of these criteria can be filtered on, to provide you with a custom filter of clusters.

    </div>
  </div>
  <div class="cell small-10 small-offset-1 large-5 large-offset-1 landing-resource__img">
    <img src="{{ url_for('static', filename='img/img-6-resources-osm-2.jpg') }} alt="Zoom on remotly mapped settlements"">
  </div>
  {% endif %}
</section>


{% endblock %}