{% extends 'base.html' %}

{% block header %}
{% endblock header%}

{% block content %}
<div id="landing-content" class="grid-container full">

  <section id="landing-title" class="grid-x landing-hero">
    <div class="cell medium-11 medium-offset-1">
      <h1>Delivering data-driven electrification insights</h1>
      <h2>Nigeria SE4ALL offers the most accurate data and latest tools that empower better electrification planning in Nigeria</h2>
      <a class="cta" rel="noreferrer" target="_blank">Learn more</a>
    </div>
  </section>

  <section id="landing-welcome" class="grid-x landing-welcome">
    <div class="cell medium-11 medium-offset-1 landing-welcome__text">
      <div class="grid-x">
        <div class="cell">
          <h2 class="brand--color">Welcome to Nigeria SE4ALL</h2>
        </div>
        <div class="cell large-6">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="cell large-5 landing-welcome__img">
          <img src="static/img/img-2-welcome.png">
        </div>
      </div>
    </div>
  </section>

  <section id="landing-feature" class="grid-x landing-feature align-center text-center">
    <!-- inspired from https://jsfiddle.net/yassarikhan786/aad7qy6n/ -->
    <div id="landing-feature-al" class="cell small-1 left--align landing-feature__arrow">
      <div>
        <img class="feature-previous" src="static/img/icons/i_arrow_left_w.svg">
      </div>
    </div>
    <div class="small-10">
      <div class="grid-x align-center">
        <div id="landing-feature-content-div" class="cell medium-8">
          <div class="grid-x align-center text-center">
            <div class="cell">
              <div id="landing-feature-txt-dev" class="selected--opt--content">
                <div class="landing-feature__header">
                  <h2>Features for <b>Developers</b></h2>
                </div>
                <div class="landing-feature__text">
                  <p>Identify <b>investment opportunities</b> in the electrification sector and gain an edge over your competition</p>
                </div>
              </div>
              <div id="landing-feature-txt-pla" class="opt--content">
                <div class="landing-feature__header">
                  <h2>Features for <b>Planners</b></h2>
                </div>
                <div class="landing-feature__text">
                  <p>Perform <b>on-the-fly analysis</b> to track electrification progress on the village level nationwide</p>
                </div>
              </div>
              <div id="landing-feature-txt-cit" class="opt--content">
                <div class="landing-feature__header">
                  <h2>Features for <b>Citizen</b></h2>
                </div>
                <div class="landing-feature__text">
                  <p>Missing text</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-8">
          <div class="grid-x align-center">
            <div id="landing-feature-dev-btn" class="cell medium-4 large-3 center--align ystack opt-title">
              <div class="landing-feature__img selected">
                <a href="#landing-feature-txt-dev">
                  <img src="static/img/icons/i_profile_w.svg" alt="Profile image">
                </a>
              </div>
              <div class="landing-feature__description selected">
                <a href="#landing-feature-txt-dev"></a>
                <span>Developers</span>

              </div>
            </div>
            <div id="landing-feature-pla-btn" class="cell medium-4 large-3 center--align ystack  opt-title">
              <div class="landing-feature__img">
                <a href="#landing-feature-txt-pla">
                  <img src="static/img/icons/i_profile_w.svg" alt="Profile image">
                </a>
              </div>
              <div class="landing-feature__description">
                <a href="#landing-feature-txt-pla"> </a>
                <span>Planners</span>
              </div>
            </div>
            <div id="landing-feature-cit-btn" class="cell medium-4 large-3 center--align ystack  opt-title">
              <div class="landing-feature__img">
                <a href="#landing-feature-txt-cit">
                  <img src="static/img/icons/i_profile_w.svg" alt="Profile image">
                </a>
              </div>
              <div class="landing-feature__description">
                <a href="#landing-feature-txt-cit"></a>
                <span>Citizens</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="landing-feature-ar" class="cell small-1 right--align landing-feature__arrow">
      <div>
        <img class="feature-next" src="static/img/icons/i_arrow_right_w.svg">
      </div>
    </div>


  </section>

  <section id="landing-progress" class="grid-x landing-progress">
    <div class="cell medium-11 medium-offset-1 landing-progress__header left-align">
      <h2>Our progress in numbers</h2>

    </div>
    <!-- Figure out how to make updatable gauges here-->
    <div class="medium-12 large-4 center--align">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="1800" data-used="1245" data-label="km electricity </br> grid tracked" data-showvalue="true" data-size="340" data-text_size="0.12"></div>
    </div>
    <div class="medium-12 large-4 center--align">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="2000" data-used="734" data-label="village remotly </br> mapped" data-showvalue="true" data-size="340" data-width="5" data-text_size="0.12"></div>
    </div>
    <div class="medium-12 large-4 center--align">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="45000" data-used="10234" data-label="buildings </br> mapped" data-showvalue="true" data-size="340" data-width="5" data-text_size="0.12"></div>
    </div>


  </section>

  <section id="landing-maps" class="grid-x landing-maps align-center text-center">
    <div class="cell landing-maps__header">
      <h2>Explore the ground-truth</h2>
      <h3>Analyze highly accurate electrification data on our <span>interactive map</span></h3>
    </div>
    <div class="cell landing-maps__carousel">
      <a class="cta" href="{{ url_for('maps.index') }}" rel="noreferrer" target="_blank">Explore map</a>
    </div>
  </section>


  <section id="landing-resources" class="grid-x landing-resources">
    <div class="cell large-4 large-offset-1 landing-resources__text">
      <h2>Use our tools</h2>
      <p>Explore our <span>suite of open source tools</span> for data mining and analysis for electrification and planning</p>
      <a class="cta" href="{{ url_for('resources.index') }}">Explore tools</a>
    </div>
    {% import "resources/card.html" as resource_card %}
    <div class="cell large-5 large-offset-1 landing-resources__cards">
      <div class="grid-x" data-equalize-on="medium" id="landing-resources-cards" data-equalizer="foo">
        <div class="cell medium-5 resource-choice" data-equalizer-watch="foo">
          {{ resource_card.input("Cluster Identification", "img/img-5-resource-cluster.png", "How can I identify locations of settlements?", "clusteridentification") }}
        </div>
        <div class="cell medium-5 medium-offset-2 resource-choice" data-equalizer-watch="foo">
          {{ resource_card.input("Mapping with OSM", "img/img-6-resources-osm.png", "How can I map a settlement in detail remotely?", "osm") }}
        </div>
        <div class="cell medium-5 resource-choice" data-equalizer-watch="foo">
          {{ resource_card.input("Survey Tools", "img/img-7-resources-survey.png", "How can I visit a settlement and collect relevant data?", "surveytools") }}
        </div>
        <div class="cell medium-5 medium-offset-2 resource-choice" data-equalizer-watch="foo">
          {{ resource_card.input("On Grid Mapping", "img/img-8-resources-og-mapping.png", "How can I track the grid?", "ongridmapping") }}
        </div>
      </div>
    </div>
  </section>

</div>
<script src="{{ url_for('static', filename='js/features.js') }}"></script>
{% endblock content%}
