{% extends 'base.html' %}

{% block header %}

{% endblock header%}

{% block content %}
<div id="landing-content-div" class="grid-x">
  <div id="landing-title-div" class="cell grid-x bkg-img">
    <div class="cell medium-5 medium-offset-1">
        <h1>Delivering data-driven electrification insights</h1>
        <h2>Nigeria SE4ALL offers the most accurate data and latest tools that empower better
          electrification planning in Nigeria</h2>
        <a class="main--link">Learn more</a>
    </div>
  </div>
  <div id="landing-welcome-div" class="cell grid-x bkg-img">
    <div id="landing-welcome-text-div" class="cell medium-5 medium-offset-1">
      <h1 class="brand--color">Welcome to Nigeria SE4ALL</h1>
      <p>
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
         Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
         Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
        Blablabla Blablabla Blablabla Blablabla Blablabla Blablabla
      </p>
    </div>
    <div id="landing-welcome-img-div" class="cell medium-6">
      <img id="landing-welcome-img" src="static/img/img-2-welcome.png">
    </div>

  </div>
  <div id="landing-feature-div" class="cell grid-x bkg-img">
    <!-- Figure out how to make the hover/select stuff here-->
    <div id="landing-feature-al"  class="medium-1 medium-offset-1 left-align"><img src="static/icon/arrow-left.png"></div>
    <!-- https://jsfiddle.net/yassarikhan786/aad7qy6n/ -->

    <div id="landing-feature-content-div" class="medium-8 grid-x align-center">
      <div id="landing-feature-txt-div" class="medium-12">
        <div id="landing-feature-txt-dev" class="selected--opt--content">
          <h2>Features for <b>Developers</b></h2>
          Identify <b>investment opportunities</b> in the electrification sector and gain an edge over your competition
        </div>
        <div id="landing-feature-txt-pla" class="opt--content">
           <h2>Features for <b>Planners</b></h2>
          Perform <b>on-the-fly analysis</b> to track electrification progress on the village level nationwide
        </div>
        <div id="landing-feature-txt-cit" class="opt--content">
           <h2>Features for <b>Citizen</b></h2>
          Missing text
        </div>
      </div>
      <div id="landing-feature-dev-btn" class="medium-4 center--align ystack opt-title">
        <a href="#landing-feature-txt-dev"><img src="static/icon/green-circle.png"></a></br>
        <div><b>Developers</b></div>
      </div>
      <div id="landing-feature-pla-btn" class="medium-4 center--align ystack  opt-title">
        <a href="#landing-feature-txt-pla"><img src="static/icon/green-circle.png"></a></br>
        <div><b>Planners</b></div>
      </div>
      <div id="landing-feature-cit-btn" class="medium-4 center--align ystack  opt-title">
        <a href="#landing-feature-txt-cit"><img src="static/icon/green-circle.png"></a></br>
        <div><b>Citizens</b></div>
      </div>
    </div>
    <div id="landing-feature-ar" class="medium-1 right--align"><img src="static/icon/arrow-right.png"></div>
  </div>
  <div id="landing-progress-div" class="cell grid-x bkg-img">
    <div class="cell">
    <h1>
      Our progress in numbers
    </h1>
      </div>
    <div class="medium-4">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="1800" data-used="1245" data-label="km electricity </br> grid tracked" data-showvalue="true" data-size="400" data-text_size="0.15"></div>
    </div>
    <div class="medium-4">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="2000" data-used="734" data-label="village remotly </br> mapped" data-showvalue="true" data-size="400" data-width="5" data-text_size="0.15"></div>
    </div>
    <div class="medium-4">
      <div class="GaugeMeter" data-color="#1DD069" data-back="#E0E2E9" data-min="0" data-total="45000" data-used="10234" data-label="buildings </br> mapped" data-showvalue="true" data-size="400" data-width="5" data-text_size="0.15"></div>
    </div>
  </div>
  <div id="landing-maps-div" class="cell bkg-img">
       <h1>Explore the ground-truth</h1>
    <h2>Analyze highly accurate electrification data on our <b>interactive map</b></h2>
    <a class="main--link">Explore map</a>
  </div>
  <div id="landing-resources-div" class="cell grid-x bkg-img">
    <div class="cell medium-5 medium-offset-1">
      <h1>Use our tools</h1>
      <p>Explore our <b>suite of open source tools</b> for data mining and analysis for
        electrification and planning</p>
      <a class="main--link" href="{{ url_for('resource.resources') }}">Explore tools</a>
    </div>
    <div class="cell medium-6 grid-x">
      <div class="cell medium-6 resource-choice">
        <div><img src=""></div>
        <div>
          <h3>Cluster identification</h3>
          <p></p>
        </div>
      </div>

    </div>

  </div>
</div>
{% endblock content%}