{% extends 'base.html' %}

{% block header %}

{% endblock header%}

{% block content %}
<div id="landing-content" class="grid-container full">

  <section id="landing-title" class="grid-x landing-hero">
    <div class="cell small-11 small-offset-1">
      <h1>Delivering data-driven electrification insights</h1>
      <h2>Nigeria SE4ALL offers the most accurate data and latest tools that empower better electrification planning in Nigeria</h2>
      <a class="cta">Learn more</a>
    </div>
  </section>

  <section id="landing-welcome" class="grid-x landing-welcome">
    <div class="cell small-11 small-offset-1 landing-welcome__text">
      <div class="grid-x">
        <div class="cell">
          <h2 class="brand--color">Welcome to Nigeria SE4ALL</h2>
        </div>
        <div class="cell large-6">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="cell large-5 landing-welcome__img">
          <img src="static/img/img-2-welcome.png">
        </div>
      </div>
    </div>
  </section>

  <section id="landing-feature" class="grid-x landing-feature align-center text-center">
    <div class="cell landing-feature__header">
      <h2>Features for <span>Planners</span></h2>
    </div>
    <div class="cell landing-feature__text">
      <p>Perform on-the-fly analysis to track electrification progress on the village level nationwide</p>
    </div>
    <!-- Figure out how to make the hover/select stuff here-->
    <div class="cell landing-page__items">
      <div class="grid-x align-center text-center">
        <div id="landing-feature-dev" class="cell medium-2 large-1 landing-feature__item landing-feature__item--dev">
          <div class="landing-feature__img">
            <img src="../../static/img/icons/i_profile_w.svg" alt="Profile image">
          </div>
          <div class="landing-feature__description"><a>Developer</a></div>
        </div>
        <div id="landing-feature-pla" class="cell medium-2 large-1 landing-feature__item landing-feature__item--pla active">
          <div class="landing-feature__img">
            <img src="../../static/img/icons/i_profile_w.svg" alt="Profile image">
          </div>
          <div class="landing-feature__description"><a>Planner</a></div>
        </div>
        <div id="landing-feature-cit" class="cell medium-2 large-1 landing-feature__item landing-feature__item--cit">
          <div class="landing-feature__img">
            <img src="../../static/img/icons/i_profile_w.svg" alt="Profile image">
          </div>
          <div class="landing-feature__description"><a>Citizen</a></div>
        </div>
      </div>
    </div>
  </section>

  <div id="landing-progress-div" class="cell bkg-img">
    <h2>Our progress in numbers</h2>
        <!-- Figure out how to make updatable gauges here-->
  </div>

  <div id="landing-maps-div" class="cell bkg-img">
    <h2>Explore the ground-truth</h2>
    <h3>Analyze highly accurate electrification data on our <b>interactive map</b></h3>
    <a class="cta">Explore map</a>
  </div>

  <div id="landing-resources-div" class="cell grid-x bkg-img">
    <div class="cell medium-5 medium-offset-1">
      <h2>Use our tools</h2>
      <p>Explore our <b>suite of open source tools</b> for data mining and analysis for
        electrification and planning</p>
      <a class="cta" href="{{ url_for('resource.resources') }}">Explore tools</a>
    </div>
    <div class="cell medium-6 grid-x">
      <div class="cell medium-6 resource-choice">
        <div><img src=""></div>
        <div>
          <h3>Cluster identification</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}