/* General */
h1{
    font-size: 32pt;
    font-weight: bold;
}
h2{
    font-size: 20pt;
    font-weight: normal;
}

.brand-color{
    color: #1DD069;
}

/* Navigation Bar */
header h2{
    color: #ffbb00;
}

header a{
    color: #464646;
    font-size: 20pt;
}

/* Main content */
.main--link{
    background-color: #1DD069;
    color: #ffffff;
    font-size: 18pt;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
}

.bkg-img{
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-title-div{
    background-image: url("img/img-1-landing.png");
    height: 100%;
    color: #ffffff;
}
#landing-title-div h1{
    font-size: 50pt;
    font-weight: bold;
}

#landing-title-div h2{
    font-size: 20pt;
    font-weight: normal;
}

#landing-welcome-div{
    background-image: url("background/bg-1-welcome-div.png");
}

#landing-welcome-img{
    padding: 10rem;
}

#landing-progress-div{
    background-image: url("background/bg-4-progress-div.png");
}

#landing-maps-div{
    background-image: url("background/bg-2-maps-div.png");
}

#landing-resources-div{
    background-image: url("background/bg-3-resource-div.png");
}

#footer-stay-in-touch-div{
    background-image: url("background/bg-5-stay-in-touch-div.png");
}
