.bkg-img{
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#landing-title-div{
    background-image: url("img/img-1-landing.png");

  /* Full height */
  height: 100%;


}

#landing-welcome-div{
    background-image: url("background/bg-1-welcome-div.png");
}

#landing-welcome-img{
    padding: 10rem;
}

#landing-progress-div{
    background-image: url("background/bg-4-progress-div.png");
}

#landing-maps-div{
    background-image: url("background/bg-2-maps-div.png");
}

#landing-resources-div{
    background-image: url("background/bg-3-resource-div.png");
}

#footer-stay-in-touch-div{
    background-image: url("background/bg-5-stay-in-touch-div.png");
}
