<!doctype html>

<head>
  <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet"
      href="https://raw.githack.com/rl-institut/WAM/dev/static/foundation/css/app.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header class="grid-x header">
    <div class="cell medium-3 medium-offset-1">
      <img src="static/logos/logo-5-blitz.png">
      <h2>Nigeria Se4All</h2>
    </div>
    <div class="cell medium-2 medium-offset-1">
      <img src="">
      <a href="#landing-maps-div">MAP</a>
    </div>
    <div class="cell medium-2">
      <img src="">
      <a href="#landing-resources-div">TOOLS</a>
    </div>
    <div class="cell medium-2">
      <img src="">
      <a href="#footer-content">ABOUT</a>
    </div>
    <div class="cell medium-1">
      <img src="static/logos/logo-2-horses.png">

    </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  <footer>

    <div id="footer-content" class="grid-x">
  <div id="footer-stay-in-touch-div" class="cell grid-x bkg-img">
    <div class="cell medium-6">
      <h2>Stay in touch</h2>
      <p><b>Follow us on social media</b> to stay up-to date on the latest developments</p>
    </div>
        <div id="footer-stay-in-touch-icons" class="cell medium-6">

    </div>
  </div>
  <div id="footer-logos" class="cell">Logos</div>
  <div id="footer-contact" class="cell">Office</div>
  <div id="footer-license" class="cell">All right</div>
</div>
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>