{% extends 'base.html' %}

{% block title %} Objectives | Nigeria SE4ALL{% endblock title%}

{% block head %}
<meta name="description=" content="Objectives of the Nigeria Sustainable Energy for All (SE4ALL) project">
{% endblock head%}

{% block header %}

{% endblock header%}

{% block content %}
<section id="objectives-sec" class="landing-resources-grid-y">
    <div class="grid-x align-center">
      <div class="cell medium-10 landing-resources__text">
        <h1>Understand our objectives</h1>
      </div>
      <div class="cell medium-7 landing-resources__text">
        <p>We want to bring you the most up to date, ground truthed, electrification data available in Nigeria. Read about the key questions we would like to solve with our data gathering activities.</p>
      </div>
    </div>
    {% import "objectives/card.html" as objective_card %}
    <div class="cell objectives__cards">
      <div class="grid-x">
        {{ objective_card.input("Where people live?", "1", ["Locations of settlements", "Mapping of settlements extents"]) }}
        {{ objective_card.input("Where is the grid?", "2", ["Existing grid infrastructure", "Grid expansion data", "Grid operational data"]) }}
        {{ objective_card.input("How people live?", "3", ["Demography", "Unserved & Underserved", "Livelihoods", "Amenities", "Productive use"]) }}

      </div>
    </div>
  </section>

<script src="{{ url_for('static', filename='js/objectives.js') }}"></script>
{% endblock content%}
