<!doctype html>

<head>
  <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='font/poppins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/source-sans-pro.css') }}">
    <!-- temporary to get foundation while development can be commented if one has app.css in static-->
    <link rel="stylesheet" href="https://raw.githack.com/rl-institut/WAM/dev/static/foundation/css/app.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
  <script src="{{ url_for('static', filename='gauge/GaugeMeter.js') }}"></script>
  <script>
      $(document).ready(function(){
          $(".GaugeMeter").gaugeMeter();
      });
  </script>
  <header class="grid-x header">
    <div id="header-blitz-div" class="cell medium-4 medium-offset-1">
      <img src="static/logos/logo-5-blitz.png" >
      <h2>Nigeria Se4All</h2>
    </div>
    <div class="cell medium-2">
      <a href="#landing-maps"><img src="static/icon/map.png">MAP</a>
    </div>
    <div class="cell medium-2">
      <a href="#landing-resources"><img src="static/icon/stack.png">TOOLS</a>
    </div>
    <div class="cell medium-2">
      <a href="#footer-content"><img src="static/icon/info.png">ABOUT</a>
    </div>
    <div class="cell medium-1">
      <img id="header-logo-nigeria" src="static/logos/logo-2-horses.png">
    </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='features.js') }}"></script>

  <footer>
    <div id="footer-content" class="grid-x">
      <div id="footer-stay-in-touch-div" class="cell grid-x bkg-img">
        <div class="cell medium-5 medium-offset-1">
          <h1>Stay in touch</h1>
          <p><b>Follow us on social media</b> to stay up-to date on the latest developments</p>
        </div>
            <div id="footer-stay-in-touch-icons" class="cell medium-6">

        </div>
      </div>
      <div id="footer-contact-div" class="cell grid-x">
        <div class="cell medium-4 medium-offset-1 grid-x">
          <div class="cell medium-1">
            <img src="static/icon/info.png">
          </div>
          <div class="cell auto">
            <h2> OFFICE</h2>
            <p>Federal Ministry of Power, Works and Housing</br>
            Headquarters</br>
            Mabushi, Abuja</br>
            Nigeria</p>
          </div>
        </div>
        <div class="cell medium-3 grid-x">
          <div class="cell medium-1">
            <img src="static/icon/mail.png">
          </div>
          <div class="cell auto">
            <h2> EMAIL</h2>
            <p>info@pwh.gov.ng</p>
          </div>
        </div>
        <div class="cell medium-3 grid-x">
           <div class="cell medium-1">
            <img src="static/icon/phone.png">
          </div>
          <div class="cell auto">
            <h2>PHONE</h2>
            <p>Nigeria: 234-(0)-X XXX XXXX X</p>
          </div>

        </div>
        <div class="cell medium-1">
          LOGO
        </div>
      </div>
      <div id="footer-logos-div" class="cell grid-x">
        <div class="cell medium-3 medium-offset-1">With financial support of:</div>
        <div id="footer-logos-eu-ger" class="cell medium-4">
          <img src="static/logos/logo-1-eu.png">
          <img src="static/logos/logo-4-ger-coop.png">
        </div>
        <div id="footer-logos-giz" class="cell medium-2 medium-offset-2">
          <img src="static/logos/logo-3-giz.png">
        </div>
      </div>

      <div id="footer-license-div" class="cell">All right</div>
    </div>
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>