<!doctype html>

<head>
  <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='gauge/GaugeMeter.js') }}"></script>
  <script>
      $(document).ready(function(){
          $(".GaugeMeter").gaugeMeter();
      });
  </script>
  <header class="grid-x header">
    <div id="header-blitz-div" class="cell medium-4 medium-offset-1">
      <a href="{{ url_for('landing')}}">
        <img src="{{ url_for('static', filename='logos/logo-5-blitz.png') }}">
        <h2>Nigeria Se4All</h2>
      </a>
    </div>
    <div class="cell medium-2">
      <a href="{{ url_for('landing')}}#landing-maps"><img src="{{ url_for('static', filename='img/icons/i_map.svg') }}">MAP</a>
    </div>
    <div class="cell medium-2">
      <a href="{{ url_for('landing')}}#landing-resources"><img src="{{ url_for('static', filename='img/icons/i_layers.svg') }}">TOOLS</a>
    </div>
    <div class="cell medium-2">
      <a href="{{ url_for('about.about') }}"><img src="{{ url_for('static', filename='img/icons/i_info.svg') }}">ABOUT</a>
    </div>
    <div class="cell medium-1 nav__logo-nigeria" id="header-logo-nigeria">
      <div>
        <img src="{{ url_for('static', filename='logos/logo-2-crest.png') }}">
      </div>
    </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='features.js') }}"></script>

  <footer>
    <div id="footer-content" class="grid-x">
      <div id="footer-stay-in-touch-div" class="cell bkg-img">
        <div class="grid-x">
          <div class="cell large-11 large-offset-1">
            <h1>Stay in touch</h1>
          </div>
          <div class="cell large-11 large-offset-1">
            <div class="grid-x">
              <div class="cell large-6">
                <p><b>Follow us on social media</b> to stay up-to date on the latest developments</p>
              </div>
              <div id="footer-stay-in-touch-icons" class="cell medium-6 large-5 footer-stay-in-touch__img">
                <a href="#"><img src="{{ url_for('static', filename='img/icons/i_youtube_w.svg') }}"></a>
                <a href="#"><img src="{{ url_for('static', filename='img/icons/i_facebook_w.svg') }}"></a>
                <a href="https://twitter.com/nesp_nigeria" target="_blank"><img src="{{ url_for('static', filename='img/icons/i_twitter_w.svg') }}"></a>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer-contact-div" class="cell">
        <div class="grid-x">
          <div class="cell medium-4 large-3 large-offset-1">
            <div class="grid-x">
              <div class="cell small-1">
                <img src="{{ url_for('static', filename='img/icons/i_info.svg') }}">
              </div>
              <div class="cell small-11 footer-contact__text">
                <span class="footer-contact__header">office</span>
                <p>
                  Federal Ministry of Power</br>
                  Power House 14, Zambezi Crescent</br>
                  Maitama, Abuja</br>
                  Nigeria
                </p>
              </div>
            </div>
          </div>
          <div class="cell medium-3">
            <div class="grid-x">
              <div class="cell small-1">
                <img src="{{ url_for('static', filename='img/icons/i_mail.svg') }}">
              </div>
              <div class="cell small-11 footer-contact__text">
                <span class="footer-contact__header">email</span>
                <p>info@pwh.gov.ng</p>
              </div>
            </div>
          </div>
          <div class="cell medium-3">
            <div class="grid-x">
              <div class="cell small-1">
                <img src="{{ url_for('static', filename='img/icons/i_phone.svg') }}">
              </div>
              <div class="cell small-11 footer-contact__text">
                <span class="footer-contact__header">phone</span>
                <p>Nigeria: 234-(0)-X XXX XXXX X</p>
              </div>
            </div>
          </div>
          <div class="cell medium-2 large-1 footer-contact__arrow">
            <a href="#header-blitz-div">
              <div>
                <img src="{{ url_for('static', filename='img/icons/i_arrow_up_w.svg') }}">
              </div>
            </a>
          </div>
        </div>
      </div>

      <div id="footer-logos-div" class="cell">
        <div class="grid-x">
          <div class="cell medium-3 large-2 large-offset-1">
            <p>With financial support of:</p>
          </div>
          <div id="footer-logos-eu-ger" class="cell medium-6 footer-logos__img">
            <img src="{{ url_for('static', filename='logos/logo-1-eu.png') }}">
            <img src="{{ url_for('static', filename='logos/logo-4-ger-coop.png') }}">
          </div>
          <div id="footer-logos-giz" class="cell medium-3 large-2 footer-logos__img footer-logos__img--giz">
            <div>
              <img src="{{ url_for('static', filename='logos/logo-3-giz.png') }}">
            </div>
          </div>
        </div>
      </div>

      <div id="footer-license-div" class="cell">
        <div class="grid-x">
          <div class="cell medium-4 large-3 large-offset-1 left--align">
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
          </div>
          <div class="cell medium-4 center--align">
            <p>&copy; 2019 All Rights Reserved by <b> nigeriase4all.gov.ng</b></p>
          </div>
          <div class="cell medium-4 large-3 footer-license__img">
            <img src="{{ url_for('static', filename='logos/logo-5-blitz.png') }}">
          </div>
        </div>
      </div>

    </div>
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>