{% extends 'base.html' %}

{% block header %}

{% endblock header%}

{% block content %}
<div id="tos-content" class="grid-container full">
    <section id="tos-sec" class="grid-x align-center light-grey">
        <h2 class="cell medium-10"> TERMS AND CONDITIONS OF SERVICE </h2>
        <p class="cell medium-8 l-width-60">Last Modification: 25th June 2020</p>

        <p class="cell medium-8 l-width-60">We welcome all Users to our website. Please read the following Terms of Service (‘Terms’) carefully before using this Website. Your access to and use of the website are subject to your acceptance of and compliance with these Terms.</p>
        <div class="cell medium-8 l-width-60 grid-x">
          <div class="cell small-1 list-item-green">1.1</div>
          <div class="cell small-11">
              Users shall be granted a non-exclusive, non-transferable, non-sublicensable perpetual licence to use the content of the website (“Content”) for your own personal and/or business purposes, and to copy, modify, adapt, merge, translate, disassemble, or create derivative works based upon the whole or any part of the Content. We reserve all rights not expressly granted to you by these Terms.
          </div>

          <div class="cell small-1 list-item-green">1.2</div>
          <div class="cell small-11">
              All Content on the Website and all applicable Intellectual Property Rights subsisting in the Content unless otherwise stated, belong to us, or have been licensed to us under our <a href="{{ url_for('about_map')}}" target="_blank">Third Party Licence Terms</a>. Our status as the owners of the Content on our website (or that of identified licensors where indicated) are always to be acknowledged.
          </div>
          <div class="cell small-1 list-item-green">1.3</div>
          <div class="cell small-11">
              We may collect your personal data in your use of the Website. Where we do so, such information shall be collected, held and processed in accordance with your rights and our obligations under the Nigeria Data Protection Regulations 2019 (NDPR) and we will take appropriate steps to ensure that your information is protected consistent with the principles set out in the NDPR, these Terms of Services, and our <a href="{{ url_for('privacypolicy')}}" target="_blank">Privacy Policy</a></p>, whether that is held by us or shared by us with third parties.
          </div>
        </div>
        <p class="cell medium-8 l-width-60"> For full details of our collection, use and holding of personal data, information about your legal rights as a data subject and how to exercise them, please refer to our <a href="{{ url_for('privacypolicy')}}" target="_blank">Privacy Policy</a></p>.
    </section>
</div>

{% endblock content%}
